* {
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", sans-serif;
}



:root {
	/* DARK THEME COLORS */
	--dark-grey: #252525;
	--lighter-dark-grey: #2b2b2b;
	--lightest-grey: #3a3a3a;
	--accent-red: #ed553b;
	--accent-green: #3caea3;
	--accent-light: #ffffff;
	/* LIGHT THEME COLORSf */


}


.dark-mode {
	background-color: var(--dark-grey);
}